/* Job Listing Stylesheet */


/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(180, 52%, 92%);
    position: relative;
}

:root {
    --priColor: hsl(180, 29%, 50%);
    --lightCyan: hsl(180, 52%, 96%);
    --lightCyanFilter: hsl(180, 31%, 95%);
    --darkCyan: hsl(180, 8%, 52%);
    --veryDarkCyan: hsl(180, 14%, 20%);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.remove-display {
    display: none;
}

.outline {
    outline: 1px solid orangered;
}


/* App - Header */
#app-header {
    background-color: var(--priColor);
    width: 100%;
    position: relative;
    z-index: -1;
    height: 120px;
    background-image: url(./images/bg-header-mobile.svg);
    background-repeat: no-repeat;
}

.job-Container {
    /* outline: 1px solid red; */
    background-color: white;
    width: 90%;
    margin: 2.5rem auto 3rem;
    border-radius: 5px;
    box-shadow: -0px 20px 20px hsl(180, 52%, 82%);
    /* padding-left: 10%; */
    padding: 0 6% 1.5rem;
}

.job-Description {
    /* outline: 1px solid brown; */
    display: flex;
    position: relative;
}
.job-Description .job-image {
    position: absolute;
    top: -2rem;
    /* left: 1rem; */
}
.job-image img{
    width: 70%;
}

.jobLeft {
    margin-top: 2.4rem;
}
.jobLeft1st li {
    display: inline-block;
    margin-right: 0.5rem;
}

.companyTitle {
    font-weight: bold;
    color: var(--priColor);
}


.new {
    background-color: var(--priColor);
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    border-radius: 10px;
    padding: 2px 7px;
}
.featured {
    background-color: var(--veryDarkCyan);
}
.featureStyle {
    border-left: 4px solid var(--priColor);
}

.jobLeft2nd h4{
    margin: 0.4rem 0;
    font-size: 1.05rem;
    color: var(--veryDarkCyan);
}
.jobLeft2nd h4:hover{
    color: var(--priColor);
}

.jobLeft2nd h2 {
    font-size: 1rem;
    color: var(--darkCyan);
    font-weight: 400;
}
.jobLeft2nd span {
    margin-right: 0.2rem;
}


.job-Keyword ul {
    display: flex;
    flex-wrap: wrap;
}

.job-Keyword li {
    margin: 1rem 1rem 0rem 0rem;
    
}

.job-Keyword li a {
    font-size: 0.95rem;
    font-weight: bold;
    background: var(--lightCyanFilter);
    padding: 6px 8px;
    color: var(--priColor);
    border-radius: 4px;
}
.job-Keyword li a:hover {
    background-color: var(--priColor);
    color: white;
}

.filter-Container {
    background: white;
    width: 70%;
    margin: -1.5rem auto 4rem; 
    /* right: 50%; */
    left: 20%;
    right: 20%;
    z-index: 1;
    transition: all 0.3s ease;
}

.job-filter {
    display: flex;
}
.job-filter ul {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 2rem;
    margin-top: 1rem;
}
.job-filter li {
    position: relative;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--priColor);
    background-color: var(--lightCyan);
    padding: 3px 32px 5px 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.job-filter li img{
    pointer-events: none;
}
.job-filter li a {
    background: var(--priColor);
    position: absolute;
    right: 0;
    bottom: 1px;
    padding: 3px 5px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.job-filter li a:hover {
    background-color: var(--veryDarkCyan)
}

.clear{
    display: flex;
    align-items: center;
    color: var(--priColor);
    font-weight: bold;
    margin-left: 2rem;
}
.clear:hover {
    border-bottom: 2px solid var(--priColor); 
}


/* Attribution */
.attribution {
    font-size: 13px;
    text-align: center; 
    margin-bottom: 0.5rem;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
}

/*                                                                          \*
            ===================================================
                    MIN WIDTH: 700PX(BIG SCREENS)
            ===================================================
\*                                                                          */


@media (min-width: 700px) {

    /* app-header */
    #app-header {
        background-image: url(./images/bg-header-desktop.svg);
        background-repeat: no-repeat;
    }

    /* Job Image */
    .job-Description .job-image {
        position: absolute;
        top: 2rem;
        left: -2.5rem;
        /* left: 1rem; */
    }
    .job-image img{
        width: 75%;
    }
    .jobLeft {
        margin-top: 2rem;
        margin-left: 2.5rem;
    }

    /* Job Filter */
    .job-Container {
        display: grid;
        grid-template-columns: 60% 50%;
    }
    .job-Keyword {
        display: flex;
    }
    .job-Keyword ul {
        align-items: center;
    }
}
